################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CloudCommerceTechTest/bin/Debug
/CloudCommerceTechTest/obj/Debug
/CloudCommerceTechTest.BL/bin/Debug
/CloudCommerceTechTest.BL/obj/Debug
/CloudCommerceTechTest.Tests/obj/Debug
